# Supabase variables:
SB_CONNECTION_STRING=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
#SB_CONNECTION_STRING=postgresql://[SB_USER]:[SB_PASSWORD]@[SB_HOST]:[SB_PORT]/[SB_DATABASE]

# Connection parameters:
SB_HOST=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
SB_PORT=XXXX
SB_DATABASE=XXXXXXXX
SB_USER=XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
SB_PASSWORD=XXXXXXXXXXXXXXX


# JWT variables
SECRET_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

